<header>
    <section class="part1">
        <div class="logo">
            <img src="./assets/img/logo.jpg" alt="logo">
            <div>
                <div class="logosug">
                    <span> <span class="maj">R</span>huma</span>
                    <span class="sug"> <span class="maj">S</span>ug</span>
                </div>
            </div>
        </div>
      <div class="iconConnect">
           <div class="lien"><img src="./assets/img/profil.png" alt=""></div>
          <div class="deconnexion"><img src="./assets/img/door.png" alt=""></div> 
      </div>
        </section>
</header>
<nav>
    <ul>
        <li><a href="{{path('app_main') }}">ACCUEIL</a></li>
        <li><a href="{{path('app_main') }}">QUI SOMMES-NOUS?</a></li>
        <li><a href="{{path('app_main') }}">PRODUITS</a></li>
        <li><a href="{{path('app_main') }}">MON PROFIL</a></li>
        <li><a href="{{path('app_main') }}"><img src="./assets/img/fa-solid_shopping-cart.png" alt=""></a></li>
    </ul>
</nav>